.cb-press-cards {
  padding-block: 80px;

  & .press-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
  }

  & .press-post {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  & .link-thumbnail {
    width: 100%;
    aspect-ratio: 1.33;
    overflow: hidden;

    &:hover .thumbnail-image {
      scale: 1.03;
    }
  }

  & .thumbnail-image {
    object-fit: cover;
    transition: scale 0.3s ease-out;
  }

  & .link-title {
    font: var(--fs-primary-larger-22) var(--ff-secondary);
    color: var(--accent-primary);

    &:hover {
      color: var(--tx-dark-primary-1);
    }
  }

  & .title {
    --clamp-lines: 2;
    height: 2lh;
  }

  & .card-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 0 0 50%;
    }
  }
  
  & .publisher-logo-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
  }

  & .publisher-logo {
    max-height: 100%;
    max-width: 150px;
    filter: brightness(0);
  }

  & .publish-date {
    color: var(--tx-dark-primary-2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }

  @media (max-width: 1024px) {
    & .press-posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    & {
      padding-block: 40px;
    }

    & .press-posts {
      grid-template-columns: 1fr;
    }
  }
}